Warehouse Data to Discord Message.json
{
  "name": "Warehouse Data to Discord Message",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        192
      ],
      "id": "3ff92944-846d-4257-846a-765a4863a78d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-warehouse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "5b2cba6568ff235b04791aea67401a50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        96
      ],
      "id": "1fdfb078-bf27-43eb-8f53-2580871064ee",
      "name": "GetDataFromWarehouse",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v3O3ddN5wgzOdUuk",
          "name": "n8n Quickstart Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe35229b-f4db-4cff-b755-1003756c96f4",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "=booked",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        96
      ],
      "id": "8bf88600-f0d2-469f-aa6b-08aa2f2cf306",
      "name": "CheckOrderStatus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e681188a-334f-4efb-8612-867d505dd1f1",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "6da4f883-22f6-4b3f-8e0d-2f54b98e0f72",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        96
      ],
      "id": "7723cc52-fbce-42e4-aef8-9d1a89e994ae",
      "name": "SetProcessingData"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ksSHC6Lg4haZRGiL",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "/projects/bXX6zR1nelt3nMMs/datatables/ksSHC6Lg4haZRGiL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "orderID",
              "keyValue": "={{ $json.orderID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "orderID": "={{ $json.orderID }}",
            "employeeName": "={{ $json.employeeName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        720,
        96
      ],
      "id": "d83a9f64-f5f7-48da-bb11-2722c35185d5",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        288
      ],
      "id": "2157aedf-9dc5-4c46-914b-dd74a8a0a202",
      "name": "CalculateBookedOrders"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        0
      ],
      "id": "c0a8414f-b9b4-4803-97b8-7f2cf407116a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -96
      ],
      "id": "1562a174-0dea-4097-b24e-0aa0b2253384",
      "name": "CalculateBookedProcessingOrders"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "operation": "create"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        720,
        288
      ],
      "id": "994e11bf-bec0-495f-89cb-dae3840090aa",
      "name": "TriggerMondays9am_2",
      "webhookId": "2f62ce5e-27fc-4dae-abfc-056be370c0b4",
      "credentials": {
        "discordWebhookApi": {
          "id": "goXltuPtg5mQZjxW",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "operation": "create"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        720,
        -96
      ],
      "id": "1b515fac-5cf8-459d-987d-54d034bc11da",
      "name": "TriggerMondays9am_1a",
      "webhookId": "2f62ce5e-27fc-4dae-abfc-056be370c0b4",
      "credentials": {
        "discordWebhookApi": {
          "id": "goXltuPtg5mQZjxW",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDataFromWarehouse": {
      "main": [
        [
          {
            "node": "CheckOrderStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckOrderStatus": {
      "main": [
        [
          {
            "node": "SetProcessingData",
            "type": "main",
            "index": 0
          },
          {
            "node": "CalculateBookedProcessingOrders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CalculateBookedOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetProcessingData": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateBookedOrders": {
      "main": [
        [
          {
            "node": "TriggerMondays9am_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateBookedProcessingOrders": {
      "main": [
        [
          {
            "node": "TriggerMondays9am_1a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8eb82a19-0254-4b95-987d-930ae9ab8652",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "392e8b2c4b6b6af12d25f7287bbc42a376d2f0e086ed8745bf158174924257b0"
  },
  "nodeGroups": [],
  "id": "VRCj6WXZwawf6UjK",
  "tags": []
}